<ul class="toolbar">
    <li class="header"><%= link_to 'HOME', welcome_index_path, method: :get, :class => "highlighted" %></li>
    <li class="header"><%= link_to 'LIST OF PEOPLE', persons_path, method: :get, :class => "header" %></li>
    <li class="header"><%= link_to 'DISPLAY OF PEOPLE', persons_path, method: :get, :class => "header" %></li>
</ul>
